@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 0% 95%;
    --foreground: 270 0% 0%;
    --card: 270 0% 90%;
    --card-foreground: 270 0% 10%;
    --popover: 270 0% 95%;
    --popover-foreground: 270 95% 0%;
    --primary: 270 63% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 232 10% 85%;
    --muted-foreground: 270 0% 35%;
    --accent: 232 10% 80%;
    --accent-foreground: 270 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 270 0% 90%;
    --border: 270 20% 50%;
    --input: 270 20% 18%;
    --ring: 270 63% 53%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background font-sans text-foreground antialiased;
  }
}
